.cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  padding: 0 40px 40px 40px;
}

.cart p {
  margin: 4rem;
  font-size: 2.5rem;
  color: rgb(93, 24, 24);
}

.cartCard {
  display: flex;
  justify-content: space-around;
  gap: 1rem;
}

.cart button {
  padding: 0.5rem;
  font-weight: bold;
  font-size: 1rem;
  margin-top: 0.2rem;
  border-radius: 2rem;
  background-color: rgb(26, 17, 102);
  color: white;
}

.cart button:hover {
  background-color: rgb(56, 44, 163);
}

.singleCard {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  margin-top: 4rem;
  justify-content: center;
}
.cart-item {
  width: 18rem;
  border: 2px solid black;
  background-color: rgb(102, 71, 71);
  text-align: center;
  border-radius: 3rem;
}

.cart-item p {
  font-size: 1.5rem;
  margin: 0.5rem;
}

.cart-item button {
  padding: 0.5rem;
  font-weight: bold;
  margin: 0.2rem;
  font-size: 0.8rem;
  color: black;
  border-radius: 2rem;
  background-color: aquamarine;
}

.cart-item button:hover {
  background-color: rgb(56, 123, 123);
}

.cart-item span {
  font-size: 1.3rem;
  font-weight: bold;
}

@media screen and (max-width: 440px) {
  .cart p {
    margin-top: 5rem;
    font-size: 2.5rem;
    color: rgb(93, 24, 24);
    text-align: center;
  }

  .cart-item p {
    margin: 0.5rem;
    font-size: 1.5rem;
  }
}
