*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.productCard{
    display: inline-block;
    border: 1px solid grey;
}

img{
    width: 12rem;
    height: 12rem;
}

h3, h4{
    margin: auto;
}

.productList{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 4rem;
}